

<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{pet.name}}
  <span class="caret"></span>
</a>

<ul class="dropdown-menu" id="pet-dropdown">
<li><a class="pet-dropdown edit" href="#" data-id="{{pet.id}}" data-toggle="modal" data-target="#edit-pet-modal">Update</a></li>
<li><a class="pet-dropdown remove" href="#" data-id="{{pet.id}}" >Remove</a></li>
</ul>
