{{#each pets as |pet|}}

<!-- go through pets array and do something on each one -->

          <button type="button" data-id="{{pet.id}}" class="numberCircle col-xs-3">
                  {{ pet.letter }}
          </button>


{{/each}}
