
{{#each pets as |pet|}}
<!-- go through trails array and do something on each one -->
        <div class="row">
          <div class="numberCircle col-xs-3"><span>S</span></div>
        </div>

{{/each}}
